
html {
  background-color: rgb(210, 242, 246);
}
.footer {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: .3rem;
  background-color: whitesmoke;
}
.links {
  display: inline-flex;
  gap: .3rem;
}
.nav-link {
  color: dimgrey;
}
.icon {
  color: #27C482;
}
.homePageContainer {
  display: flex;
  flex-flow: wrap;
  justify-content: left;
  align-items: center;

}
.homeLeft {
  width: fit-content;
  background-image: ;
}
.homePageHeader {
  display: flex;
  justify-content: left;
  align-content: center;
  font-size: 6rem;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: 0;
  padding-top: 2.5rem;
  color: #27C482;
}
.homePageSubheader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-top: 0;
  padding-left: 5rem;
  color: dimgrey;
}
.iconBlock {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  gap: 1rem;
}
.recentProjects {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
.belowTheFold {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.projectDisplayHome {
  display: block;
  justify-content: left;
  align-items: center;
  width: fit-content;
  height: 15rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.card {
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
  align-items: center;
  gap: 2rem;
}
.cardComment {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: .5rem;
}
.projectTitle {
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #27C482;
  margin-bottom: .5rem;
  font-size: 2rem;
}
.projectDescription {
  display: flex;
  justify-content: center;
  align-items: right;
  margin-top: .5rem;
}
.projectDisplayHome1 {
  display: flex;
  justify-content: right;
  align-items: center;
  width: fit-content;
  height: 15rem;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 5rem;
}
.projectTitle1 {
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #27C482;
  margin-bottom: .5rem;
  font-size: 2rem;
}
.projectDescription1 {
  display: flex;
  justify-content: center;
  align-items: left;
  margin-top: .5rem;
}
.seeMore {
  display: flex;
  margin: 2rem;
  justify-content: center;
  align-items: center;
}
.seeMoreBtn {
  border: none;
  width: 10rem;
  height: 2rem;
  border-radius: 90%;
  background-color: whitesmoke;
  color: #27C482;
}
.projectPageDiv {
  padding: 3rem;
}

/* ABOUT PAGE */

.aboutPageHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-bottom: 1px solid #27C482;
  margin: 1rem;
}