
html {
  background-color: #327FF7;
}
.footer {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  gap: .3rem;
  background-color: whitesmoke;
}
.links {
  display: inline-flex;
  gap: .3rem;
  padding: .5rem;
}
.nav-link {
  color: dimgrey;
}
.nav-link:hover {
  color: #232FB6;
}
.icon {
  color: #27C482;
  padding: .5rem 0rem;
}
.icon:hover {
  font-size: 120%;
  padding: 0rem;
}
.homePageContainer {
  display: flex;
  flex-flow: wrap;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 100%;
}
.homeLeft {
  display: block;
  width: 100%;
  height: 50vh;
  background-image: url(./images/Simple\ Technology\ LinkedIn\ Banner.png);
}
.homeRight {
  display: block;
  max-width: 200px;
  max-height: 500px;
  align-items: center;
  justify-content: center;
}
.headshot {
  border: 2px solid white;
  border-radius: 50%;
  width: 190px;
  height: 450px;
  background-image: url(./images/bootcamp-small.jpeg);
}
.homePageHeader {
  display: flex;
  justify-content: left;
  align-content: center;
  font-size: 6rem;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: 0;
  padding-top: 2.5rem;
  padding-left: .5rem;
  color: #27C482;
}
.homePageSubheader {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-top: 0;
  padding-left: 3.5rem;
  color: dimgrey;
  text-shadow: 1px 1px #7CD8AE;
}
.iconBlock {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  gap: 1rem;
}
.recentProjects {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: white;
  text-shadow: 1px 1px #327FF7;
}
.belowTheFold {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.projectDisplayHome {
  display: block;
  justify-content: left;
  align-items: center;
  width: fit-content;
  height: 15rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.card {
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
  align-items: center;
  gap: 2rem;
}
.cardComment {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: .5rem;
  color: white;
}
.projectTitle {
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #27C482;
  margin-bottom: .5rem;
  font-size: 2rem;
}
.projectDescription {
  display: flex;
  justify-content: center;
  align-items: right;
  margin-top: .5rem;
  font-size: 1.2rem;
}
.projectDisplayHome1 {
  display: flex;
  justify-content: right;
  align-items: center;
  width: fit-content;
  height: 15rem;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 5rem;
}
.projectTitle1 {
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #27C482;
  margin-bottom: .5rem;
  font-size: 2rem;
}
.projectDescription1 {
  display: flex;
  justify-content: center;
  align-items: left;
  margin-top: .5rem;
  font-size: 1.2rem;
}
.seeMore {
  display: flex;
  margin: 2rem;
  justify-content: center;
  align-items: center;
}
.seeMoreBtn {
  border: none;
  width: 10rem;
  height: 2rem;
  border-radius: 45%;
  background-color: whitesmoke;
  color: #232FB6;
  font-size: 1rem;
}
.seeMoreBtn:hover {
  cursor: pointer;
  color: #27C482;
}
.projectPageDiv {
  padding: 3rem;
}

/* ABOUT PAGE */

.aboutPageHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-bottom: 1px solid #27C482;
  margin: 1rem;
}